#include <windows.h>
1 ICON "../img/icon/icon1.ico"
1 RT_MANIFEST "app.manifest"
1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileDescription", "Apolion Gacha"
   VALUE "ProductName", "Apolion Gacha"
   VALUE "FileVersion", "1.0.0"
   VALUE "ProductVersion", "1.0.0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
